
.loading {
	font-family: 'shrikhand';
	font-size: 5rem;
	color: $colour-secondary;
	text-align: center;
	background-color: $colour-block;
	height: 100%;
	width: 100%;
	position: fixed;
	display: inline-block;
	Z-index: 1;
	@include flexbox (center, center);
	animation: fadeOut 3s both;
	-webkit-animation: fadeOut 3s both;
	@media screen and (min-width: 280px) and (max-width: 768px) {
		font-size: 2.5rem;
	}
}


.loader {
	position: relative;
}	
.Bar:before,
.Bar:after,
.Bar span:before,
.Bar span:after{
	content: '';
	position: absolute;
	display: block;
	margin: 6rem;
	left: 0px;
	top: 0;
	padding-left: 50px;
	width: 10px;
	height: 50px;
	border-radius: 50px;
	background-color: $colour-primary;
	-webkit-animation: bar 1s linear infinite;
	animation: bar 1s linear infinite;}
	.Bar:after{
	left: 15px;
	top: -15px;
	background-color: $colour-secondary;
	-webkit-animation-delay: .25s;
	animation-delay: .25s;}
	.Bar span:before{
	left: 35px;
	top: -30px;
	background-color: $colour-tertiary;
	-webkit-animation-delay: .50s;
	animation-delay: -.50s;}
	.Bar span:after{
	left: 45px;
	top: 35px;
	background-color: $colour-ball-loader;
	-webkit-animation-delay: .75s;
	animation-delay: .75s;
		@media screen and (min-width: 280px) and (max-width: 768px) {
			margin: 3rem;
		}
}

