* {
    margin: 0;
    padding: 0; 
}

body{
    box-sizing: border-box;
	font-family: 'Roboto', sans-serif; 
}

a {
    text-decoration: none;
    color: black;
}
.bloc_page {
    width: 98%;
    max-width: 1440px;
    margin: auto;
}