header {
    min-width: 320px;
    padding: 21px 0;
    
    .logo {
        position: relative;
        @include flexbox(center, center);
        img {
            max-width: 168px;
            
        }
    }
    }

.fa-arrow-left::before {
    position: absolute;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    top: 50%;
    @include flexbox (center, center);
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: black;
}
