// -- Google Font

// -- Colors 
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
/* Loader */
$colour-ball-loader: #20b2AA;
// - Footer
$Colour-background: rgb(41, 41, 41);
$TextColorFooter: #fff;
$hoverColorFooter: #acacac;
