* {
    margin: 0;
    padding: 0; 
}

html,body{
    max-width: 1440px;
	font-family: 'Roboto', sans-serif; 
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}
.bloc_page {
    max-width: 1440px;
}