

// -- recherche géographique
.Research {
    text-align: center;
    padding: 0px 20px 50px 20px;
    box-shadow:0px -6px 5px rgba(59, 57, 57, 0.212);border:0;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: $colour-block;
    flex: 1 1 400px;
}
.situation {
    @include flexbox(center, center);
    flex-flow: nowrap row;
    padding: 20px 0px;
    margin: 0px -20px;
    background-color: $dark;
    .situation__icon {
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    .situation__form {
    position: relative;
}
}
}
.fas {
    font-weight: 900;
}
#Search {
    text-align: center;
    width: 140px;
    font-weight: bold;
    line-height: 25px;
    font-size: 1rem;
    border: 0px;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px 0;
    text-transform: full-width;
}
    .SloganTitle {
        font-weight: bolder;
        font-size: 1.6rem;
        margin-top: 40px;
        @media screen and(max-width: 768px) {
            font-size: 1.1rem;
        }
    }
    .SloganText {
        font-weight: 200;
        font-size: 1.4rem;
        line-height: 60px;
        @media screen and(max-width: 768px){
            line-height: 25px;
            font-size: 0.9rem;
        }
    }
    

// -- Fonctionnement

.function_title {
    margin: 0 0 20px 22px;
}
.functioning {
    font-size: 0.9rem;
    padding: 0 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
        justify-content: center;
        flex-wrap: wrap;
        font-size: 0.6rem;
    }

    h2 {
        margin: 0 0 30px 0;
    }
    .function_element {
    width: 300px;
    max-height: 78px;
    margin: 0 20px 20px 40px;
    position: relative;
    background: $colour-block;
    padding: 30px 50px 30px 18px;
    text-align: center;
    border-radius: 20px;
    @include shadow;
    transition: all 300ms ease-out;
    @media screen and(max-width: 1024px) {
        margin: 0 15px 25px 15px;
        padding: 20px 40px 20px 0px;
    }
    @media screen and(max-width: 768px) {
        margin: 0 10px 20px 10px;
        padding: 15px 30px 15px 0px;
    }
    &:hover {
        background-color: $bright;
    }
    &_number {
    background-color: $colour-primary;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: $colour-text;
    padding: 4px 4px;
    position: absolute;
    top: 30%;
    left: -4%;
    @media screen and(max-width: 768px) {
        width: 14px;
        height: 14px;
    }
   }
    }
} 
    .function_element--icon {
    color: $shadow-color;
    padding-right: 10%;
    padding-left: 10%;
}


//-- restaurant
.restaurants {
    background-color: $colour-block;

    &_block {
        @include flexbox(center);
        flex-flow: row wrap;
    }

    &_title {
    padding: 50px 0 10px 22px;
    }

    &_card {
    border-radius: 20px;
    background-color: whitesmoke;
    margin-bottom: 18px;
    position: relative;
    max-width: 280px;
    min-width: 280px;

    @media screen and (min-width: 375px) {
        max-width: 300px;
        min-width: 280px;
    }
    @media screen and (min-width: 650px) {
        margin-right: 25px;
    }
    img {
    width: 100%;
    max-height: 175px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    object-fit: cover;
    }
    .restaurants_card_content {
    padding: 19px 11px;
    position: relative;
    display: flex;

    h3 {
    margin-bottom: 6px;
    }
    .restaurants_card_content_title {
    position: relative;
    }

.heart {
    position: absolute;
    right: 20px;
    top: 1;

    &_1 {
        position: relative;

        &:hover {
            animation: heart_empty_opacity1 3s;
        }
    }

    &_2 {
        position: absolute;
        top: 0px;
        opacity: 0;
        color: $colour-text;
        &:hover {
            animation: heart_full_opacity 1s forwards;
        }

        }
    }
}
}


}