// -- Spinning loader
  
@keyframes fadeOut{
	0%, 60% {
        opacity: 1;
		z-index: 5;}
	75% {opacity: 0.8}
	90% {opacity: 0.2}
	100% {
        opacity: 0;
		z-index: -9;}
}
@keyframes bar{
	0% {-webkit-transform: scaleY(0); transform: scaleY(0); opacity:0;}
	50% {-webkit-transform: scaleY(1); transform: scaleY(1); opacity:1;}
	100% {-webkit-transform: scaleY(0); transform: scaleY(0); visibility: hidden;}
}
// -- heart page restaurant
@keyframes fill {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
// -- heart page principale
@keyframes heart_full_opacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
        @include gradient-color;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        opacity: 1;
        @include gradient-color;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@keyframes heart_empty_opacity1 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

// -- Souligement des titres
@keyframes progress{
    0% {
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
// -- apparation carte restaurant
@keyframes appear {
    0% {
      transform: scale(0);
      opacity: 0%;
    }
    50% {
      opacity: 0%;
    }
    100% {
      transform: scale(1);
      opacity: 100%;
    }
  }
